<!-- rework with https://github.com/StartBootstrap/startbootstrap-blog-post/blob/master/src/pug/index.pug -->

<!-- Page content-->
<!-- <ul> -->

    <div class="col-lg-8">
        <% articles.forEach(function(article) { %>
        <!-- Post content -->
        <article>
        <!-- Post header-->
        <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1"><%= article.title %></h1>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2"><%= article.date %></div>
        <!-- Post categories-->
        


        </header>
        <!-- Post content-->
        <!-- <li> -->
        
        <!-- Preview image figure-->
        
      
          <div class="shadow-lg rounded">
            <section class="mb-5">
            <p class="fs-5 mb-4"><%= article.text %></p>
            </section>
            <% article.pictures.forEach(function(picture) { %>
            <figure class="shadow-lg p-3 mb-5 bg-body rounded"><img class="img-fluid rounded " src="<%= 'http://media.morozovme.com' + picture.url %>"></figure>
            <% }); %>
            
          </div>
        
        <!-- </li> -->
        </article>
        <% }); %>
      </div>
      

<!--   </ul> -->

