<footer class="py-5 bg-dark mt-auto">
    <div class="container">
    
     <p><a class="text-info" href="https://morozovme.github.io/"><h2 class="text-light">Curriculum vitae</h2></a></p>
     <p class="m-0 text-center text-white">Copyright &copy; Morozov Mikhail Evgenievich 2022</p>
    </div>
</footer>
