<div>
<nav class="navbar navbar-dark navbar-expand-sm bg-dark ms-auto" style="padding-left:30px;">

    <div class="container-fluid">
    <ul class="navbar-nav flex-row g-3">
    <li class="nav-item">
        <a class="
        <% if (focus === 'blog') { %>
        active 
        <% } %>
        nav-link
        "
        aria-current="page"
        href="/">Personal Blog</a></li>
    
    <li class="nav-item">
        <a class="
        <% if (focus === 'pet') { %>
        active 
        <% } %>
        nav-link
        "
        aria-current="page"
        href="/pet">Projects</a></li>    

    <li class="nav-item">
        <a class="
        <% if (focus === 'videos') { %>
        active 
        <% } %>
        nav-link
        "
        aria-current="page"
        href="/videos">Videos</a></li> 

    <li class="nav-item">
        <a class="
        <% if (focus === 'articles') { %>
        active 
        <% } %>
        nav-link
        "
        aria-current="page"
        href="/articles">Articles</a></li> 

    <li class="nav-item">
        <a class="
        <% if (focus === 'mentorship') { %>
        active 
        <% } %>
        nav-link
        "
        aria-current="page"
        href="/mentorship">Mentorship</a></li> 

    <li class="nav-item">
        <a class="
        <% if (focus === 'about') { %>
        active 
        <% } %>
        nav-link
        "
        aria-current="page"
        href="/about">About</a></li> 

    </ul>
  </div>
</nav>
</div>
