<!-- rework with https://github.com/StartBootstrap/startbootstrap-blog-post/blob/master/src/pug/index.pug -->

<!-- Page content-->
<!-- <ul> -->

      <div class="col-lg-8">
        <% posts.forEach(function(post) { %>
        <!-- Post content -->
        <article>
        <!-- Post header-->
        <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1"><%= post.title %></h1>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2"><%= post.date %></div>
        <!-- Post categories-->

        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>

        </header>
        <!-- Post content-->
        <!-- <li> -->
        
        <!-- Preview image figure-->
        <figure class="mb-4"><img class="img-fluid rounded" src="<%= post.imageURL %>"></figure>
        <section class="mb-5">
        <p class="fs-5 mb-4"><%= post.text %></p>
        </section>
        <!-- </li> -->
        </article>
        <% }); %>
      </div>
      

<!--   </ul> -->

