<%- include('./partials/_head'); %>

  <body class="d-flex flex-column min-vh-100">
  <%- include('./partials/_nav'); %>

 
    <div class="container w-75 p-3">
      <div class="row">
      <div class="col-lg-8">
        <h2> Contact me at: </h2>
        <h3> m.e.morozov1@gmail.com </h3>
        <h2> CV: </h2>
        <p class="lead"> <a href="https://morozovme.github.io/">https://morozovme.github.io/</a> </p>

      </div>
      </div>
      </div>
      <br/>
  
 
    <style> 
    .container{
      width: 50%;
      margin: 0 auto;
    }
    @keyframes load{
      from {
        width: 0%
      }
    }
    @-webkit-keyframes load{
      from {
        width: 0%
      }
    }
    @-moz-keyframes load{
      from {
        width: 0%
      }
    }
    @-o-keyframes load{
      from {
        width: 0%
      }
    }
    
    .bar{
      background-color: #EEE;
      padding: 2px;
      border-radius: 15px;
      margin-bottom: 5px;
      font-size: 14px;
      color: #FFF;
      font-weight: bold;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
    .bar::before{
      content:  attr(data-skill);
      background-color: #f3b0ff;
      display: inline-block;
      padding: 5px 0 5px 10px;
      border-radius: inherit;
      animation: load 2s 0s;
      -webkit-animation: load 2s 0s;
      -moz-animation: load 2s 0s;
      -o-animation: load 2s 0s;
    }
    
    .bar.front::before{
      background-color: #ffcc33;
    }
    .bar.back::before{
      background-color: #a6cfe3;
    }
    
    .bar.newbie::before{
      width: calc(10% - 10px);
    }
    
    .bar.learning::before{
      width: calc(20% - 10px);
    }
    .bar.basic::before{
      width: calc(40% - 10px);
    }
    .bar.intermediate::before{
      width: calc(60% - 10px);
    }
    .bar.advanced::before{
      width: calc(80% - 10px);
    }
    .bar.expert::before{
      width: calc(100% - 10px);
    }
     </style>
     </br></br></br>
      <%- include('./partials/_footer'); %>
  </div>
</body>
<%- include('./partials/_end'); %>



