<%- include('./partials/_head'); %>

  <body>
  <%- include('./partials/_nav'); %>

  <div class="container w-75 p-3">
  
    </div>
 
    <div class="container w-75 p-3">
      <div class="row">
      <div class="col-lg-8">
        <h2> Contact me at: </h2>
        
        <p class="lead"> <a href="t.me/mikefrostov">t.me/mikefrostov</a> </p>

      </div>
      </div>
      </div>
      <br/>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
 
    
     </br></br></br>
      <%- include('./partials/_footer'); %>
  </div>
</body>
<%- include('./partials/_end'); %>



