<%- include('./partials/_head'); %>

<body>
  <%- include('./partials/_nav'); %>

</div>


<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4"> Ansible </h1>
        <hr>

        <!-- Author -->
        <p class="lead"> Ansible is a rather helpful tool for configuration management. It works over ssh, so you don't need to preinstall anything to the node itself. Very convenient. </p>



        <!-- Preview Image -->
        <img class="img-fluid rounded" src="ansible.png" style="width:700px;height:500px;"  alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead"> When used in conjunction with tools such as Vagrant it really unveils its full potential. You can use the "Infrastructure as Code" paradigm. Written once - always works. </p>

	<img class="img-fluid rounded" src="ansible1.png" style="width:700px;height:600px;" alt="">
        <hr>

        <p class="lead"> Ansible organizes it's playbooks into roles. Roles are later applied to an inventory. Inventory holds the servers that roles are applied to. </p>


	<hr>



</div>

