<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Study projects</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
    <ul class="nav navbar-nav">
      <li><a href="/">Personal Blog</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/videos">Videos</a></li>
      <li class="active"><a href="/articles">Articles<span class="sr-only">(current)</span></a></li>
      <li><a href="/mentorship">Mentorship</a></li>
      <li><a href="/about">About</a></li>
    </ul>
</nav>
</div>
<br/>
<div class="container">
<div class="row">
<div class="col-lg-8">
<h2> Articles: </h2>
<h3> Tags: <a>[geoeconomics]</a> <a>[programming]</a> <a>[devops]</a> <a>[business]</a> <a>[technology]</a></h3>
<hr>
<h3> Article about programming and/or devops 1 </h3>
<p> This is an article. This article tells you about the struggle in devops area with pictures <pic> </pic>, videos <video></video> and other effective media resources. </p>
<br>
<hr>
<br>
<h3> Article about programming and/or devops 2 </h3>
<p> This is an article. </p>
<br>
<hr>
<br>
<h3> Embedded article from the internet with title in the header. </h3>
<p> link to original header <a>link</a> <br>
  Parsed embedded article with added <a>[tag]</a> like [geoeconomics] [programming] [devops] [business] [technology] </p>
</div>
</div>
</div>
</div>
</div>
<br>
<br>
<hr>
</body>
</html>
