<%- include('./partials/_head'); %>

<body>
  <%- include('./partials/_nav'); %>

</div>


<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4"> Github actions</h1>
        <hr>


        <p class="lead"> Github actions to be cont'd </p>




 

        <p class="lead">  </p>


	<hr>


</div>
</div>
</div>

    <%- include('./partials/_footer'); %>
  </body>
  <%- include('./partials/_end'); %>