<%- include('./partials/_head'); %>

<body>
  <%- include('./partials/_nav'); %>

</div>


<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4"> GitlabCI </h1>
        <hr>


        <p class="lead"> I find gitlabCI most comfortable ci/cd environment I ever worked with. It has runners, wiki, 
          comfy yaml and other bells and whistles </p>




 

        <p class="lead"> Ansible organizes it's playbooks into roles. Roles are later applied to an inventory. Inventory holds the servers that roles are applied to. </p>


	<hr>


</div>
</div>
</div>

    <%- include('./partials/_footer'); %>
  </body>
  <%- include('./partials/_end'); %>