
<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> its a responsive web thing  -->
    <!-- The width=device-width part sets the width of the page to follow the screen-width of the device (which will vary depending on the device). -->
    <!-- The initial-scale=1.0 part sets the initial zoom level when the page is first loaded by the browser. -->
    <!-- The browser's viewport is the area of the window in which web content can be seen. This is often not the same size as the rendered page, in which case the browser provides scrollbars for the user to scroll around and access all the content. -->
    <meta name="viewport" content="width=device-width" />
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
  <!-- <title>Study projects</title>  use templating instead: --> 
  <!-- <title><%= subject %> </title> --> 
  <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script> -->
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script> --> 
  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  --> 
  <!-- this is an older version of bootstrap, using newer version -->
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
  <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> --> 
  <!-- <script src="script.js"></script> no idea what is this --> 
  </head>

  <!-- old body: 
  <body>
    <h1>This is index page!</h1>
    <a> hey </a>
  </body>
  --> 
  <!-- new body with ejs: -->
  <body>
  <%- include('./partials/_nav'); %>
    <div class="container mt-2">
      <header>
        <h2>Welcome</h2>
        <p>Here is the homepage for <%= name %></p>
      </header>
      <section>
        <h2>Here is the body</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam,
          repellendus!
        </p>
      </section>
      <footer>
        <h2>Here is the footer</h2>
         <p><a href="<%= link %>">Unsubscribe</a></p>
      </footer>
    </div>
  </body>


</html>


