
<%- include('./partials/_head'); %>
<body class="d-flex flex-column min-vh-100">
<%- include('./partials/_nav'); %>


<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Jenkins GUI CI/CD setup for projects deployment</h1>

        <!-- Author -->

        <h2><a href="http://jenkins.morozovme.com/">Login page</a></h2>


        <hr>


        <!-- Preview Image -->
        <img class="img-fluid rounded" src="jenkins-items.png" style="width:1400px;height:500px;" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">I use Jenkins for redeploying apps after changes had been pushed to the respective repositories. I have manually created tasks for each project.</p>

        <hr>


        <p class="lead">At the moment I am reading about groovy and Jenkinsfile in order to automate the CI/CD component. </p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="jenkins_deploy_nodejs_blogapp.png" style="width:1000px;height:210px;" alt="">

        <hr>

        <p class="lead"> Yet so far I was using bash to deploy apps.</p>
        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="jenkins-pipeline.png" style="width:1000px;height:300px;" alt="">

        <hr>

        <p class="lead">I have installed nodejs plugin so that app could be testend inside of jenkins and later deployed.</p>


        <hr>

      </div>
    </div>
    </div>
    
    <%- include('./partials/_footer'); %>
    </body>
    <%- include('./partials/_end'); %>