<%- include('./partials/_head'); %>

<body>
  <%- include('./partials/_nav'); %>

</div>


<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4"> l2j </h1>
        <hr>

        <!-- Author -->
        <p class="lead"> Ever since high school when I was spending a lot of time in mmorpg called Lineage2 I wanted my own server. So I deployed it and now tinkering with it. </p>



        <!-- Preview Image -->
        <img class="img-fluid rounded" src="l2j.png" style="width:700px;height:500px;"  alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead"> I have created a Vagrantfile with debian10 box that downloads sources, builds them and spins up game and login servers. I use port forwarding to the outside static IP address so my friends may play with me. <a href="https://github.com/morozovme/infra/blob/shared-files/vagrant/l2j-2/Vagrantfile">https://github.com/morozovme/infra/blob/shared-files/vagrant/l2j-2/Vagrantfile</a> </p>

	<img class="img-fluid rounded" src="l2j-2.jpeg" style="width:700px;height:600px;" alt="">
        <hr>

        <p class="lead"> It is written in java and is opensource. I am studying java ins and outs along with it. Also getting into client architecture and studying game development too. </p>


	<hr>


</div>
</div>
</div>

    <%- include('./partials/_footer'); %>
  </body>
  <%- include('./partials/_end'); %>