<%- include('./partials/_head'); %>
  <body class="d-flex flex-column min-vh-100">
  <%- include('./partials/_nav'); %>



<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Flask blogging app</h1>

        <!-- Author -->
        <h2>  <a href="http://flaskr.morozovme.com/"> Check it out </a> </h2>

        <hr>

	<br>

        <!-- Preview Image -->
        <p class="lead"> This is a study project on python app development tools and practices using flask and flaskr-tdd tutorial. I worked through the tutorial step by step and have working flask app. </p>
        <img class="img-fluid rounded" src="flaskr1-1.png" alt="">
        <hr>

        <p class="lead"> In this app you are supposed to log in using hardcoded credentials, since there is no database associated with it. You would log in using "admin - admin" login password pair, after that you may leave posts. </p>

        <img class="img-fluid rounded" src="flaskr2.png" alt="">

        <hr>

        <img class="img-fluid rounded" src="flaskr3.png" alt="">

	<hr>

        <p class="lead"> Whenever you add a new entry, it is shown under the form, along with other entries. If you log out, all the entries would be shown on the main page.</p>


        <img class="img-fluid rounded" src="flaskr6.png" alt="">

        <p class="lead"> If you log out, all the entries would be shown on the main page.</p>

        <hr>
        <p class="lead"> The entries are kept in a SQLite database.</p>


        <img class="img-fluid rounded" src="flaskr5.png" alt="">


        <hr>



</div>
</div>
</div>


<%- include('./partials/_footer'); %>
</body>
<%- include('./partials/_end'); %>
