<%- include('./partials/_head'); %>
  <body class="d-flex flex-column min-vh-100">
  <%- include('./partials/_nav'); %>



<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Front-end playground</h1>

        <!-- Author -->
        <p class="lead">
          <h2><a href="http://sitik.morozovme.com/">Go to the app</a></h2>
        </p>
        <hr>
        <br>
        <br>
        <img class="img-fluid rounded" src="20109755.jpeg" alt="">
        <br>
        <br>

        <p class="lead"> This project is mainly for tryouts of Front-End technologies and frameworks. This started as a project for a friend, she is making her first steps in Front-End developing. I help her in studies. </p>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="sitik.png" alt="">

        <hr>

        <!-- Post Content -->

        <p class="lead"> I have setup CI/CD for this project same as for other projects so there wouldn't be any manual work needed to deliver changes to the "production" </p>

        <img class="img-fluid rounded" src="jenkins_sitik_build.png" alt="">



   </div>
  </div>
</div>


<%- include('./partials/_footer'); %>
</body>
<%- include('./partials/_end'); %>

